useDynLib(VarSelLCM)
export(VarSelCluster)
export(VarSelImputation)
exportClasses(
     "VSLCMcriteria",
     "VSLCMpartitions",
     "VSLCMstrategy",
     "VSLCMmodel",
     "VSLCMdataContinuous",
     "VSLCMdataInteger",
     "VSLCMdataCategorical",
     "VSLCMdataMixed",
     "VSLCMparamContinuous",
     "VSLCMparamInteger",
     "VSLCMparamCategorical",
     "VSLCMparamMixed",
     "VSLCMresultsContinuous",
     "VSLCMresultsInteger",
     "VSLCMresultsCategorical",
     "VSLCMresultsMixed"
     )
exportMethods(summary)
exportMethods(print)
exportMethods(plot)
import(methods)
importFrom("Rcpp", evalCpp)
importFrom("mgcv", uniquecombs)
importFrom("parallel", mclapply, detectCores, makeCluster, clusterExport, parLapply, clusterEvalQ, stopCluster)